body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #E2F1EC;
  text-align: left;
}
.header {
  background-color: #00979D;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  font-weight: bold;
  color: white;
}