body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #E2F1EC;
  text-align: left;
}
.header {
  background-color: #00979D;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  font-weight: bold;
  color: white;
}

.loginForm {
  margin: 50px auto;
  background-color: #00979D;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
}

.loginForm input[type=text], input[type=password] {
  display: block;
  padding: 10px;
  margin: 10px;
  width: 100%;
  outline: none;
}

.textAlignLeft {
  text-align: left;
}

.errorMessage {
  font-weight: bold;
  color: red;
}